<div class="thumbnail">
    <a href="#"><img src="{{ product.image }}" alt="{{ product.title}} image."></a>
    <div class="caption">
        <h4><a href="#">{{ product.title }}</a></h4>
        <p>{{ product.description }}</p>
    </div>
</div>
